<div ui-scrollpoint="10">
 <nav>
   <div class="row">
     <div class="col-sm-2">
       <p class="input-group">
          <span class="input-group-addon">From</span>
          <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}" ng-model="$ctrl.dateFrom" is-open="$ctrl.dateFromPopupOpened" datepicker-options="$ctrl.dateFromOptions" ng-required="true" close-text="Close" placeholder="Select date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.dateFromPopupOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
       </p>
     </div>
     <div class="col-sm-2">
       <p class="input-group">
          <span class="input-group-addon">To</span>
          <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}" ng-model="$ctrl.dateTo" is-open="$ctrl.dateToPopupOpened" datepicker-options="$ctrl.dateToOptions" ng-required="true" close-text="Close" placeholder="Select date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.dateToPopupOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
       </p>
     </div>   
     <div class="col-sm-3">
       <p class="input-group">
         <span class="input-group-addon">Type</span>
         <select class="form-control" ng-options="type for type in $ctrl.typeOptions" ng-model="$ctrl.type">
         </select>
       </p>
     </div>
     <div class="col-sm-3">
       <p class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
         <input type="text" class="form-control" ng-model="$ctrl.searchQuery"/>
         <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.searchQueryClear()"><i class="glyphicon glyphicon-remove"></i></button>
          </span>
       </p>
     </div>
     <div class="col-sm-2">
       <transaction-import></transaction-import>
     </div>
   </nav>
 </div>

 <table class="table table-striped table-hover">
   <thead>
   	  <tr>
   	    <th>Type</th>
   	    <th>Date</th>
   	    <th>Amount</th>
        <th>Currency</th>
   	    <th>Title</th>
        <th>Labels</th>
        <th></th>
   	  </tr>
   </thead>
   <tbody>
     <tr ng-repeat-start="transaction in $ctrl.transactions | dateRange:$ctrl.dateFrom:$ctrl.dateTo | filter:$ctrl.searchQuery | filter:$ctrl.type">
       <td class="centered" ng-click="$ctrl.toggleDetails(transaction)">{{transaction.type}}</td>
       <td class="centered" ng-click="$ctrl.toggleDetails(transaction)">{{transaction.date}}</td>
       <td class="centered" ng-click="$ctrl.toggleDetails(transaction)">{{transaction.amount | number : 2}}</td>
       <td class="centered" ng-click="$ctrl.toggleDetails(transaction)">{{$ctrl.displayCurrency}}</td>
       <td ng-click="$ctrl.toggleDetails(transaction)">{{transaction.title}}</td>
       <td class="centered">
        <span editable-ui-select="transaction.labels" data-e-form="rowform" data-e-name="labels" name="labels" theme="bootstrap" e-multiple data-e-ng-model="transaction.labels" data-e-style="min-width:400px; max-width:400px;">
          <span class="label label-default" style="margin-right: 5px" ng-repeat="labelId in transaction.labels">
            {{$ctrl.labelsHash[labelId].path || "???"}}
          </span>
          <editable-ui-select-match placeholder="No labels">
            {{$item.path}}
          </editable-ui-select-match>
          <editable-ui-select-choices repeat="label.id as label in $ctrl.labels | filter: $select.search track by $index">
            {{label.path}}
          </editable-ui-select-choices>
        </span>
       </td>
       <td>
         <form editable-form name="rowform" onbeforesave="$ctrl.update($data,transaction)" oncancel="$ctrl.cancelUpdate($index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="$ctrl.inserted == transaction">
           <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default">
             <i class="glyphicon glyphicon-ok-sign"></i>
           </button>
           <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel();" class="btn btn-default">
             <i class="glyphicon glyphicon-remove-sign"></i>
           </button>
         </form>    
         <div class="buttons">
           <button type="button" class="btn btn-default" ng-click="rowform.$show();" ng-show="!rowform.$visible">
             <i class="glyphicon glyphicon-pencil"></i>
           </button>
         </div>
       </td>
     </tr>
     <tr ng-repeat-end="">
       <td colspan="7" style="padding:0">
         <div uib-collapse="!transaction.collapsed">
           <cardoperation-detail ng-if="transaction.type=='CardOperation'" data="transaction.details"></cardoperation-detail>
           <transfer-detail ng-if="transaction.type=='Transfer'" data="transaction.details"></transfer-detail>
         </div>
       </td>
     </tr>
   </tbody>
 </table>
</div>