<div ui-scrollpoint="10">
 <nav>
   <div class="row">
     <div class="col-sm-2">
       <p class="input-group">
          <span class="input-group-addon">From</span>
          <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}" ng-model="$ctrl.dateFrom" is-open="$ctrl.dateFromPopupOpened" datepicker-options="$ctrl.dateFromOptions" ng-required="true" close-text="Close" placeholder="Select date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.dateFromPopupOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
       </p>
     </div>
     <div class="col-sm-2">
       <p class="input-group">
          <span class="input-group-addon">To</span>
          <input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.dateFormat}}" ng-model="$ctrl.dateTo" is-open="$ctrl.dateToPopupOpened" datepicker-options="$ctrl.dateToOptions" ng-required="true" close-text="Close" placeholder="Select date"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.dateToPopupOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
       </p>
     </div>   
     <div class="col-sm-3">
       <p class="input-group">
         <span class="input-group-addon">Type</span>
         <select class="form-control" ng-options="type for type in $ctrl.typeOptions" ng-model="$ctrl.type">
         </select>
       </p>
     </div>
     <div class="col-sm-3">
       <p class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
         <input type="text" class="form-control" ng-model="$ctrl.searchQuery.title"/>
         <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$ctrl.searchQueryClear()"><i class="glyphicon glyphicon-remove"></i></button>
          </span>
       </p>
     </div>
     <div class="col-sm-2">
       <transaction-import></transaction-import>
     </div>
   </nav>
 </div>

 <table class="table table-striped table-hover">
   <thead>
   	  <tr>
   	    <th>Type</th>
   	    <th>Date</th>
   	    <th>Amount</th>
        <th>Currency</th>
   	    <th>Title</th>
        <th>Labels</th>
   	  </tr>
   </thead>
   <tbody>
     <tr ng-repeat-start="transaction in $ctrl.transactions | dateRange:$ctrl.dateFrom:$ctrl.dateTo | filter:$ctrl.searchQuery | filter:$ctrl.type" ng-click="$ctrl.toggleDetails(transaction)">
       <td class="centered">{{transaction.type}}</td>
       <td class="centered">{{transaction.date}}</td>
       <td class="centered">{{transaction.amount | number : 2}}</td>
       <td class="centered">{{$ctrl.displayCurrency}}</td>
       <td>{{transaction.title}}</td>
       <td class="centered">
         <span class="label label-default" style="margin-right: 5px" ng-repeat="label in transaction.labelData">{{label.path}}</span>
       </td>
     </tr>
     <tr ng-repeat-end="">
       <td colspan="5" style="padding:0">
         <div uib-collapse="!transaction.collapsed">
           <cardoperation-detail ng-if="transaction.type=='CardOperation'" data="transaction.details"></cardoperation-detail>
           <transfer-detail ng-if="transaction.type=='Transfer'" data="transaction.details"></transfer-detail>
         </div>
       </td>
     </tr>
   </tbody>
 </table>
</div>