<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-sm-10">
      <p class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control" ng-model="$ctrl.searchQuery"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.searchQueryClear()"><i class="glyphicon glyphicon-remove"></i></button>
        </span>
      </p>
    </div>
    <div class="col-sm-1">
      <p class="input-group">
        <span class="input-group-addon">Add</span>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.add()"><i class="glyphicon glyphicon-plus"></i></button>
        </span>
      </p>
    </div>
    <div class="col-sm-1">
      <p class="input-group">
        <span class="input-group-addon">Run</span>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.labelAllTransactions()" title="Run all active rules"><i class="glyphicon glyphicon-flash"></i></button>
        </span>
      </p>
    </div>
  </div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="centered">Expression</th>
      <th class="centered">Active</th>
      <th class="centered">Labels</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="rule in $ctrl.rules | filter:{regexp:$ctrl.searchQuery}">
      <td class="centered" style="vertical-align: middle;">
        <span editable-text="rule.regexp" e-name="regexp" e-form="rowform" onbeforesave="$ctrl.checkEmpty($data)">
          {{ rule.regexp || 'empty' }}
        </span>
      </td>
      <td class="centered" style="vertical-align: middle;">
        <span editable-checkbox="rule.active" e-name="active" e-form="rowform" e-title="active?">
          {{ rule.active && "Yes" || "No" }}
        </span>
      </td>
      <td class="centered" style="vertical-align: middle;">
        <span editable-ui-select="rule.labels" data-e-form="rowform" data-e-name="labels" name="labels" theme="bootstrap" e-multiple data-e-ng-model="rule.labels" data-e-style="min-width:400px;">
          <span class="label label-default" style="margin-right: 5px" ng-repeat="labelId in rule.labels">
            {{$ctrl.labelsHash[labelId].path || "???"}}
          </span>
          <editable-ui-select-match placeholder="No labels">
            {{$item.path}}
          </editable-ui-select-match>
          <editable-ui-select-choices repeat="label.id as label in $ctrl.labels | filter: $select.search track by $index">
            {{label.path}}
          </editable-ui-select-choices>
        </span>
      </td>
      <td class="centered" style="vertical-align: middle;">
        <form editable-form name="rowform" onbeforesave="$ctrl.update($data,rule)" oncancel="$ctrl.cancelUpdate($index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="$ctrl.inserted == rule">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-default">
            <i class="glyphicon glyphicon-ok-sign"></i>
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            <i class="glyphicon glyphicon-remove-sign"></i>
          </button>
        </form>
        <div class="buttons">
          <button type="button" class="btn btn-default" ng-click="rowform.$show()" ng-show="!rowform.$visible">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.openConfirmModal($index)" ng-show="!rowform.$visible">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          <button type="button" class="btn btn-default" ng-click="$ctrl.labelTransactions($index)" ng-show="!rowform.$visible" title="Run selected rule if active" ng-disabled="!rule.active">
            <i class="glyphicon glyphicon-flash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
